.row{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom:1px solid gray ;
}
.flex{
    padding: 20px 0px;
}
.item{
    text-align: start;
    width: 15%;
}
.row>div>img{
    height: 30px;
    width: 50px;
}



@media (max-width:1050px) {
    
}
@media (max-width:900px) {
    
}
@media (max-width:750px) {
    .item{
        text-align: start;
        width: 10%;
    }
       
}