footer{
    background-color: tomato;
    border-radius: 20px 20px 0px 0px;
    margin-top: 30px;

}
.section{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 30px 10px;

}
.section>ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
.bottom{
    text-align: center;
    padding: 20px;
    border-top: 3px solid  wheat;
}


@media (max-width:1050px) {
    
}
@media (max-width:900px) {
    
}
@media (max-width:750px) {
    footer{
        background-color: tomato;
        border-radius: 20px 20px 0px 0px;
    
    }
    .section{
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 10px;
        gap: 30px;
    
    }
    .section>ul{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 10px;
    }
    .bottom{
        text-align: center;
        padding: 20px;
        border-top: 3px solid  wheat;
    }
    
       
}